.profile {
    margin: 0 auto;
    width: 100%;
    background-color: #202020;
    font-family: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__title {
    margin: 74px auto 107px;
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
}

.profile__input-text {
    display: flex;
    justify-content: space-between;
    width: 410px;
    padding: 16px 0;
    color: #FFF;
    font-size: 11px;
    font-weight: 500;
    text-align: left;
}

.profile__form {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.profile__input {
    color: #FFF;
    text-align: right;
    font-size: 11px;
    font-weight: 400;
    background-color: transparent;
    border: none;
    outline: none;
}


.profile__input-text:first-child {
    border-bottom: 1px solid #424242;
}

.profile__edit {
    margin: 210px auto 16px;
    background-color: transparent;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;

}

.profile__submit {
    margin: 223px auto 16px;
    border-radius: 3px;
    border: none;
    background: #3456F3;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    width: 100%;
    height: 45px;
}

.profile__submit_disabled {
    background: #F8F8F8;
    color: #C2C2C2;
}

.profile__link {
    margin-bottom: 70px;
    color: #EE3465;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}

.profile__error_active {
    padding-top: 189px;
    color: #FF004C;
    text-align: center;
    font-size: 11px;
    font-weight: 400;
    line-height: normal;
}

.profile__error_inactive {
    padding-top: 189px;
    color: transparent;
    text-align: center;
    font-size: 11px;
    font-weight: 400;
    line-height: normal;
}


@media screen and (min-width: 320px) and (max-width: 620px) {
    .profile__title {
        margin: 70px auto 65px;
    }

    .profile__input-text {
        width: 260px;
    }

    .profile__submit {
        font-size: 12px;
    }

    .profile__link {
        margin-bottom: 40px;
        font-size: 12px;
    }

    .profile__form {
        margin: 0 auto;
    }
}

@media screen and (min-width: 621px) and (max-width: 920px) {
    .profile__title {
        margin: 236px auto 80px;
    }

    .profile__form {
        margin: 0 auto;
    }

    .profile__link {
        margin-bottom: 269px;
    }
}